<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book store App</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

<div align="center">
  <h1> Books list</h1>
  <a th:href="@{/showNewBookForm}" class="btn-primary btn-sm mb-3">Add Book</a>


  <table border="1px" class="table-striped table-responsive-md">
    <thead>
    <tr>
      <th>Author Name</th>
      <th>Book Name</th>
      <th>Book Price</th>
      <th>Copies of Book</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book :${listBooks}">
      <td th:text="${book.authorname}"></td>
      <td th:text="${book.bookName}"></td>
      <td th:number="${book.price}"></td>
      <td th:number="${book.numofcopies}"></td>
    </tr>
    </tbody>
  </table>
</div>

</body>
</html>